{#
/**
 * Modificado por Marcos Moreno
 */-----------------------------------------------------------------
 #}
 
{% extends 'layout/page_card_notlogged.html.twig' %}

{% block content_block %}
   {% if token_ok is defined and token_ok == false %}
      {{ __('Su solicitud de restablecimiento de contraseña ha caducado o no es válida. por favor renovarlo.') }}
   {% elseif messages_only is defined %}
      {{ include('components/messages_after_redirect_alerts.html.twig') }}
   {% else %}
      <form action="{{ path('front/lostpassword.php') }}" method="post" autocomplete="off" data-submit-once>
         <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
         <h2 class="card-title text-center mb-4">{{ __('¿Contraseña olvidada?') }}</h2>

         {% if token is defined %}
            <input type="hidden" name="password_forget_token" value="{{ token }}" />
            <p class="text-muted mb-4">
               {{ __('Por favor ingrese su nueva contraseña.') }}
            </p>
            <div class="mb-3">
               <label class="form-label">{{ __('Contraseña') }}</label>
               <input type="password" name="password" autocomplete="new-password"
                      class="form-control" placeholder="{{ __('Password') }}"
                      id="password" onkeyup="return passwordCheck();" />
            </div>
            <div class="mb-3">
               <label class="form-label">{{ __('Confirmación de contraseña') }}</label>
               <input type="password" name="password2" autocomplete="new-password2"
                        class="form-control" placeholder="{{ __('Password') }}" />
            </div>

            {% if config('use_password_security') %}
               <div class="alert alert-warning">
                  <h3>{{ __('Política de seguridad de contraseña') }}</h3>
                  {% do call('Config::displayPasswordSecurityChecks') %}
               </div>
            {% endif %}

            {% set save_button = '<i class="far fa-save"></i><span>' ~ __('Guardar nueva contraseña') ~ '<span>' %}

         {% else %}
            <p class="text-muted mb-4">
               {{ __('Por favor, introduzca su dirección de correo electrónico. Se le enviará un correo electrónico y podrá elegir una nueva contraseña.') }}
            </p>
            <div class="mb-3">
               <label class="form-label">{{ _n('Email', 'Emails', 1) }}</label>
               <input type="email" name="email" class="form-control" placeholder="{{ _n('Email', 'Emails', 1) }}" />
            </div>
            {% set save_button = '<i class="fas fa-envelope"></i><span>' ~ __('Enviar') ~ '<span>' %}
         {% endif %}

         <div class="form-footer">
            <button class="btn btn-icon btn-primary w-100" name="update">
               {{ save_button|raw }}
            </button>
         </div>
      </form>
   {% endif %}
{% endblock %}

{% block footer_block %}
   {{ __('Olvídalo, ') }}
   <a href="{{ index_path() }}">{{ __('envíame de vuelta') }}</a>
   {{ __('a la pantalla de inicio de sesión.') }}
{% endblock %}
